.ip-header-section{
  padding: 85px 0;
}

.ip-header-right{
  gap: 90px;
}

.ip-language-switcher{
  display: flex;
  align-items: center;
  gap: 16px;
  a{
    color: rgba($color-white, 0.8);
    font-size: 14px;
    &.active{
      width: 44px;
      height: 44px;
      background: $darck-bg;
      font-weight: 700;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.ip-header-links {
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background: rgba($color-white, 0.2);
    left: -45px;
  }
  a{
  color: $color-white;
  font-weight: 600;
}
}